<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Categorias</h1>

        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="alert-link">Alert Link</a>.
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            Editando categoria
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="col-lg-6">
              <%= render 'form' %>
            </div>
          </div>
          <!-- /.panel-body -->
        </div>


      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->